.bd {
  background-image: url(IEEE.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: 370px;
  background-position-y: 370px;

}

.show {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url(../images/IEEE.jpg);
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 30px;
}

.h {
  font-family: trirong;
  color: rgb(252, 252, 252);
  background-color: rgb(14, 14, 114);
  box-sizing: border-box;
  border-radius: 100px;
  border-color: antiquewhite;
  font-size: larger;
  text-align: center;

}

.p {
  font-family:fi;
  font-size: xx-large;
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.nope {
  display: flex;
  justify-content: flex-start; 
}

.nope a {
  padding: 10px 20px; 
  text-decoration: none; 
  color:white; 
  border-radius: 20px; 
  margin: 0 5px; 
  background-color: #0d024f; 
  font-family: trirong;
}

.nope a:hover {
  background-color:rgb(255, 255, 255);
}

.nn {
  display: flex;
  margin-right: auto;
}



.nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
 
.pa {
  font-family:f;
  box-sizing: 100px;
 box-shadow: 20px;
  background-image: linear-gradient(to bottom, #f0f0f0, white);
  color: rgb(0, 0, 0);
  border-radius: 1px;
  font-size: large;
  padding-top: 20px;


}

.bold {
  font-family: Garamond, serif;
  font-size: large;
  padding-top: 20px;
}

.butt {
  background-color: #002fbc;
  color: rgb(255, 246, 246);
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
}

.imge {
  float: left;
  border-radius: 20px;

}

.i {
  height: 160px;
  width: 1500px;
  border-radius: 10px;
}

.cont {
  display: inline-block;
  align-items: center;
}

.imge {
  float: right;
}

.paa {}

.pi {
  font-family:fr;
  font-weight: 900;
  text-align: left;
  font-size: medium;
  animation: fadeIn 10s;
  color: rgb(1, 1, 106);
 
}

.imgi {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main{
  height:30vh;
  width:100%;  
  display:contents;
  align-items:center;
  justify-content:center;
  text-align:center;

}
h1{
  text-align:center;
  text-transform: uppercase;
  color: #181695; 
  font-size: 6rem;
  font-family: myfont;
  animation: fadeIn  10s;

}

.roller{
  height: 4.125rem;
  line-height: 7rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}


.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
  font-size:large;
  font-family:font;
  font-size: xx-large;
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 100px){
  h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
  
.roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
 
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}
@font-face {
  font-family: myFont;
  src: url(aveng.ttf.ttf);
}
.hi{
 color: #000000;
 font-family: fi;
  font-size: xx-large;
   justify-content: center;
   align-items: center;
  display:block;
  border-radius: 10px;
  padding-bottom: 10px;
  animation: fadeIn  10s;
}
 .achieve {
  font-weight:;
  padding-top:10px;
  font-family: fr;
  font-weight: 900;
  text-align: left;
  font-size: large;
  animation: fadeIn 10s;
  color: rgb(1, 1, 106);
  font-style: oblique;
}
.ach {
  font-variant: small-caps;
  box-sizing: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: large;
  padding-top: 20px;
}
.end {
  padding-top: 30px;
  padding-left: 90px;
  margin: 2% 0 0 2%;
  margin: 2% 0 0 2%;
  border-left: 6px solid black;
  overflow: hidden;


}
.image {
  font-size: 3vw;
  color: rgb(30, 0, 128);
  margin: 0 0 0 14px;
  padding-top: 30px;
  padding-left: 45px;
}
@font-face {
  font-family: font;
  src: url(KGHAPPY.ttf);
}
@font-face {
  font-family:fo ;
  src: url(v.ttf.otf);
}
@font-face{
  font-family:f;
  src: url(j.ttf);
}
@font-face{
  font-family:fi;
  src: url(y.ttf);
}
.imee {
  width: 300px; 
  overflow: hidden; 
}
.imei{
  width: 1520px;
  height: 200px; 
  border-radius: 10px;
}


@font-face{
  font-family: fr;
  src:url(re.ttf);
}