.image2 {
    background-image: url(/images/nani.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1600px;


}
.nav nav {
    display: flex;
    justify-content:center;
    gap:40px;
    padding:20px;
  }
  
  .nav a {
    color: rgba(255, 255, 255, 0.997);
    float: right;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-top: 10px;
    border-radius: 20px;
    padding-block: 10px;
  
  }
  
  .nav a:hover {
    background-color: rgb(255, 255, 255);
    color:blue;
  }
  body {
    margin:0;
  }
  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #e8f04c00 0%,
    #a70b0b84 29%,
    #0a31f79f 67%,
    #a1f3086d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display:flex;
  font-size: 90px;
  text-align: center;
  padding-left: 120px;
  padding-bottom: 30px;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;

}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 50px;
  padding-left: 100px;

}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color:blue;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.car { 
  /* background-image: linear-gradient(to bottom, #f0f0f0, white); */
  color: rgb(0, 0, 0);
  border-radius: 1px;
  font-size: larger;
  padding-top: 20px;
  margin: 30px 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 

}
.container{
  max-width: 1140px;
  margin: 0 auto;
}  
@font-face {
  font-family: 'Inconsolata';
  src: url('https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf');
  font-weight: 275 900;
  font-stretch: 50% 200%;
}
main {
  white-space: nowrap;
  width: 80vw;
  margin: auto;
}

.static {
  font-size: 30px;
  font-variation-settings: "wght"900, "wdth"200;
}

.variable {
  display: flex;
  font-variation-settings: "wght"275, "wdth"50;
  text-align: center;
  animation: swapthings 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  font-size: 50px;
  padding-top: 40px;
}

.work {
  animation: swapthings2 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
}


@keyframes swapthings {
  0% {
    font-variation-settings: "wght"275, "wdth"50;
  }

  50% {
    font-variation-settings: "wght"900, "wdth"200;
  }

  100% {
    font-variation-settings: "wght"275, "wdth"50;
  }
}

@keyframes swapthings2 {
  0% {
    font-variation-settings: "wght"900, "wdth"200;
  }

  50% {
    font-variation-settings: "wght"275, "wdth"50;
  }

  100% {
    font-variation-settings: "wght"900, "wdth"200;
  }
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: green;
  font-family: 'Inconsolata';
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #7a2121;
  background-color: #272f3c;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
  
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: ko;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 3.5rem;
  color: #e2cccc;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  color: #ea1e1e;
  font-family: f;
}

.footer address {
  font-style: normal;
  color: #ffffff;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #ffffff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #fff7f7;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #fa0000;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
@font-face {
  font-family: ko;
  src: url(ko.ttf.ttf);
}
.fot{
  color: #fa0000;
 
  font-family: f;
}